#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  pegaprox-app.service
BindsTo=pegaprox.service
After=pegaprox.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/pegaprox-app.pid %t/pegaprox-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/pegaprox-app.pid  --cidfile %t/pegaprox-app.ctr-id --cgroups=no-conmon  --pod-id-file %t/pegaprox.pod-id --replace -d --name  pegaprox-app  --volume pegaprox-config:/app/config:Z   --env-file pegaprox.env  ${PEGAPROX_APP_IMAGE}  
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/pegaprox-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP pegaprox-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/pegaprox-app.ctr-id
PIDFile=%t/pegaprox-app.pid
Type=forking

[Install]
WantedBy=default.target
